/*Styles partagés des formes dans le SVG #forme*/
#forme circle, #forme ellipse {
	stroke: #00f;
	stroke-width: 3px;
}

/*Styles propres aux cercles*/
#forme circle {
	stroke-dasharray: 314.159;
	stroke-dashoffset: 314.159;
	animation: contourcercle 5s linear alternate infinite;
}

/*Styles propres aux ellipses*/
#forme ellipse {
	transform: none;
	transform-origin: 100px 100px;
	animation: rotation 1s linear infinite, contourellipse 5s linear alternate infinite;
	stroke-dasharray: 361.624;
	stroke-dashoffset: 361.624;
}

/*Animation de rotation des ellipses*/
@keyframes rotation {
	to {
		transform:	rotate(360deg);
	}
}

/*Animation de bordure du cercle*/
@keyframes contourcercle {
	from {
		stroke-dashoffset: 314.159;
	}
	to {
		stroke-dashoffset: 0;
	}
}

/*Animation de bordure des ellipses*/
@keyframes contourellipse {
	from {
		stroke-dashoffset: 361.624;
	}
	to {
		stroke-dashoffset: 0;
	}
}